---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import { Astro } from "@astrojs/runtime";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full items-center justify-between">
  <!-- Directly reference the image from the public directory -->
  <img src="/images/hero-image.svg" alt="Hero Image" class="h-24 w-24"> <!-- Adjust size as needed -->
  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a href="/" class:list={{
          ["hover:text-neutral-100"]: true,
          ["text-neutral-100"]: pathname === "/",
        }}>Home</a>
      </li>
      <li>/</li>
      <li>
        <a href="https://ycsfwdainpwgmgsjqppv.supabase.co/storage/v1/object/public/OG-images/SAHITH%20M%20.pdf" target="_blank" class:list={{
          ["hover:text-neutral-100"]: true,
          ["text-neutral-100"]: pathname === "/your-link-here",
        }}>Resume</a>
      </li>
    </ul>
  </nav>
</header>
